html, body {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: "Microsoft YaHei UI",arial,sans-serif,"Comic Sans MS","幼圆","黑体";
}

#search-container {
  position: absolute;
  top: calc(50% - 30px);

  .search-logo {

    .random-color {
      font-size: 6em;
      font-weight: 600;
    }
  }
}